.div1 {
  display: flex;
  position:absolute;
  text-align: center;
  height: 100%;
  width: 90%;
}

#div2{
  position:absolute;
  box-sizing: border-box;
  border: 12px solid transparent;
  width: 30%;
  border-image-source: url(border.png);
  border-image-slice: 45%;
  border-image-repeat: round;
  background-color: #DEDCCF;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:100%;
}

span{
  color: rgb(255, 0, 0);
}

#logo{
  display: flex;
  justify-content: center;
  height: 200px;
}

body{
  background-image: radial-gradient(rgb(0,20,0),rgb(0,21,0),rgb(0, 22, 0),rgb(0, 23, 0),rgb(0, 22, 0),rgb(0, 21, 0),rgb(0, 20, 0));
}

a{
  color:  rgb(255, 0, 0);
}

.link{
  box-sizing: border-box;
  border: 3px solid transparent;
  background-image: radial-gradient(rgb(0,20,0),rgb(0,21,0),rgb(0, 22, 0),rgb(0, 23, 0),rgb(0, 22, 0),rgb(0, 21, 0),rgb(0, 20, 0));
  padding:1.1em;
  border-image-source: url(border.png);
  border-image-slice: 4;
  border-image-repeat: round;
}

#bpve{
  font-family:monospace;
  font-size: 300%;
}

#discord{
  font-size: 200%;
}